
.App {
  text-align: left;
}

.App-header {
  background-color: #115e79;
  /* See https://wordmark.it/  */
  font-family: "GurmukhiMN-Bold", Times, serif;
  font-size: 25px;
  color: white;
  padding-left: 12px;
}

.Heading {
  font-size: 24px;
  padding: 2rem;
}

.spotInChord {
  background-color: #e3389a
}

.Spot {
  border: 1px solid green;
  width: 2rem;
  font-size: 1rem;
  padding: .1rem;
  border-collapse: separate;
}

.String {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex: 1 0 0;
}

.FretBoard {
  padding-left: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

