.App {
  text-align: left;
  /* See https://wordmark.it/  */
  font-family: "GurmukhiMN-Bold", Times, serif;
}

.App-header {
  background-color: #115e79;
  font-size: 25px;
  /*height: 50px;*/
  color: white;
  /*padding-top: 5px;*/
  /*padding-right: 30px;*/
  /*padding-bottom: 1px;*/
  padding-left: 12px;
}


